<ins class="adsbygoogle"
     style="display:block; text-align:center;margin-top: 20px;margin-bottom: 20px"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8488823422266592"
     data-ad-slot="3907903389">
</ins>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    if(true) {
            (adsbygoogle = window.adsbygoogle || []).push({});
    }
    if(true){
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: 'ca-pub-8488823422266592',
            enable_page_level_ads: true
        });
    }
</script>