<div id="post__share">
    <a id="icon-twitter" class="fontello"
       href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}"
       target="_blank"></a>
        <a id="icon-cc"
           class="fontello" href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}"
           target="_blank"></a>
    <a id="icon-weibo" class="fontello"
       href="http://v.t.sina.com.cn/share/share.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
       target="_blank"></a>
    <wb:share-button appkey="2646862509" addition="simple" type="button" picture_search="false" language="zh_cn" ralateUid="2706451481"></wb:share-button>
</div> <!-- end #post__share -->

