<div id="post__share">
    <a id="icon-twitter" class="fontello"
       href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}"
       target="_blank"></a>
        <a id="icon-cc"
           class="fontello" href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}"
           target="_blank"></a>
    <a id="icon-weibo" class="fontello"
       href="http://v.t.sina.com.cn/share/share.php?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
       target="_blank"></a>
</div> <!-- end #post__share -->

<div class="bshare-custom">
    <a title="分享到有道笔记" class="bshare-youdaonote"></a>
    <a title="分享到Google+" class="bshare-gplus"></a>
    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
    <a title="分享到微信" class="bshare-weixin"></a>
    <a title="分享到Twitter" class="bshare-twitter"></a>
    <a title="分享到百度搜藏" class="bshare-baiducang"></a>
    <a title="分享到Facebook" class="bshare-facebook"></a>
    <a title="分享到Reddit" class="bshare-reddit"></a>
    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
</div>
<script type="text/javascript" charset="utf-8" src="/assets/js/bshare_button.js"></script>
<a class="bshareDiv" onclick="javascript:return false;"></a>
<script type="text/javascript" charset="utf-8" src="/assets/js/bshareC0.js"></script>
