package config


const (
    STMP_HOST            = "smtp.gmail.com"
	STMP_PORT            = "587"
	STMP_PASSWORD        = "passwordismyname"
	STMP_USER            = "xxx@trytv.org"
	TRANSLATE_APP_ID     = "youdao translate app id"
	TRANSLATE_APP_SECRET = "youdao translate app secret"
	STMP_RECEIVER        = "xx@xxxx.cn"
	TRANSLATE_HOST       = "http://openapi.youdao.com/api"

	REDIS_ADDR ="127.0.0.1:6379"
	REDIS_PASSWORD=""
	REDIS_DB_IDX = 1
)

